.socialContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.googleBtn {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.googleBtn:hover {
  background-color: #f5f5f5;
}

.googleBtn img {
  pointer-events: none;
}
