.container {
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #a3a3a3;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.form input,
.form option,
.form button {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form button {
  background-color: #0a9542;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form button:hover {
  background-color: #005bb5;
}

.preview {
  max-width: 95%;
  max-height: 200px;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* .list {
  list-style: none;
  padding: 0;
} */

.list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.list li {
  background: #8d783d;
  border: 1px solid #eaeaea;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list button {
  width: auto;
  padding: 0.3rem 0, 6rem;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  cursor: pointer;
  box-shadow: 2px 2px #a3a3a3;
}

.sighout {
  font-size: 0.8rem;
}

.buttonGroup {
  display: grid; /*flex*/
  /* flex-wrap: wrap; wrap ให้รองรับ 2 แถวถ้าแคบ */
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.btn {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.editBtn {
  background-color: #4caf50; /* เขียว */
}

.deleteBtn {
  background-color: #f44336; /* แดง */
}

.pdfBtn {
  background-color: #2196f3; /* น้ำเงิน */
}

.wordBtn {
  background-color: #9c27b0; /* ม่วง */
}

.inlineField {
  display: flex;
  flex-direction: column; /* ค่าเริ่มต้น: มือถือ แยกบรรทัด */
  margin-bottom: 0.2rem;
}

.inlineField label {
  margin-bottom: 0.25rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .inlineField {
    flex-direction: row; /* หน้าจอกว้าง: อยู่แถวเดียวกัน */
    align-items: center;
    gap: 0.75rem;
  }

  .inlineField label {
    margin-bottom: 0; /* ยกเลิกช่องว่างตอนเป็นแถวเดียว */
    min-width: 120px;
    text-align: right;
  }

  .inlineField input {
    flex: 1;
  }
}

.timeRow {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 0.2rem;
}
.timeRow label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
}
/* radiogroup */
.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radioOption {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #949494;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.radioOption:hover {
  background: #929292;
}

.radioOption input[type="radio"] {
  accent-color: #007bff; /* สีปุ่ม radio */
  transform: scale(1.2);
}
