@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Sarabun:ital,wght@0,100;0,400;0,700;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* font-family: "Sarabun", sans-serif; "Prompt", sans-serif; */

* {
  box-sizing: border-box;
}

html {
  font-family: "Prompt", sans-serif;
}

body {
  margin: 0;
  background-color: #181817;
  color: #e5e5e1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#page {
  width: 90%;
  max-width: 88rem;
  margin: 2rem auto;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#logo {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  border-radius: 4px;
}

#main-header #logo a,
#main-header #logo a:hover {
  color: #e1e1d7;
  text-decoration: none;
}

#main-header ul {
  display: flex;
  gap: 2rem;
  font-weight: bold;
}

#main-header ul a {
  text-decoration: none;
  color: #e5e5e1;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

#main-header ul a:hover,
#main-header ul a.active {
  background-color: #bcbcb7;
  color: #181817;
}

#home {
  margin: 3rem auto;
  max-width: 50rem;
  text-align: center;
}

#home img {
  width: 8rem;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 #181817;
}

#home h1 {
  margin-top: 3rem;
  font-size: 2.5rem;
}

#home p {
  margin: 2rem 0;
  color: #bcbcb7;
  font-size: 1.1rem;
}

#home a {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #bcbcb7;
  color: #181817;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 2rem;
}

#home a:hover {
  background-color: #e5e5e1;
}

.meets-list {
  border-radius: 0.8rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.meets-list a {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  color: #e5e5e1;
  text-decoration: none;
  border-radius: 8px;
  font-size: 0.8rem;
  padding: 0 0 0.2rem 0;
  background-color: #2d2d2b;
}

.meets-list a img {
  width: 100%;
  /* height: 6rem; */
  object-fit: cover;
  border-radius: 4px;
}

.meets-list a:hover {
  background-color: #666664;
}

.meets-list a span {
  padding: 0 0 0 0.4rem;
}

/* .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
} */

.meets-article {
  display: flex;
  flex-direction: row;
  align-items: start;
  color: #e5e5e1;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0 0 0.5rem 0;
  background-color: olive;
  border-radius: 0.4rem;
}

.meets-article img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.meets-article h1,
h2 {
  padding: 0 0.8rem 0 0.8rem;
  gap: 0;
  color: #cccccc;
}

.meets-article p {
  padding: 0 0.8rem 0 0.8rem;
  gap: 0;
  color: #cccccc;
}

/* .modal {
  background-color: #bababa;
  padding: 2rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 10px 0 #181817;
  max-width: 50rem;
  width: 100%;
}

.modal h2,
.modal h1 {
  margin: 0;
} */

#archive-header ul {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

#archive-filter {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #b0b0a6;
}
.error {
  text-align: center;
  margin-top: 3rem;
}

/* status budge */
.status-badge {
  padding: 4px 12px;
  margin-left: 8px;
  border-radius: 4px;
  text-align: center;
  background-color: #f0f0f0; /* พื้นหลังเทาอ่อน */
  font-weight: bold;
  display: inline-block;
}

.status-badge.อนุมัติ {
  color: #2e7d32; /* เขียว */
}

.status-badge.รอดำเนินการ {
  color: #757575; /* เทา */
}

.status-badge.กำลังดำเนินการ {
  color: #ef6c00; /* ส้ม */
}

.status-badge.ห้องไม่ว่าง {
  color: #c62828; /* แดง */
}
